.header{
    display: flex;
    align-items: center;

}
.headerLogo{
    margin-left: 10px;
    margin-right: auto;
    font-weight: 800;
}

.headerCheckbox{
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-right: 10px;
}